<h2 mat-dialog-title>Cambia password</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nuova password</mat-label>
      <input matInput type="password" ngModel [(ngModel)]="newPassword" name="newPassword" required placeholder="Enter your new password">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Inserisci la vecchia password</mat-label>
      <input matInput type="password" ngModel [(ngModel)]="oldPassword" name="oldPassword" required placeholder="Enter your old password">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Cambia password</button>
</mat-dialog-actions>

<h5 style="text-align: center; color:rgb(255, 0, 0)">{{error}}</h5>
