<h2 mat-dialog-title>Log In</h2>
<mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" ngModel [(ngModel)]="email" name="email" required placeholder="Enter your email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" ngModel [(ngModel)]="password" name="password" required placeholder="Enter your password">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Log In</button>
</mat-dialog-actions>

<h5 style="text-align: center; color:rgb(255, 0, 0)">{{loginError}}</h5>
