<div *ngIf="cryptoChartData && cryptoChartData.labels.length > 0" style="width: 100%; height: 400px;">
        <canvas baseChart
                [datasets]="cryptoChartData.datasets"
                [labels]="cryptoChartData.labels"
                [options]="cryptoChartOptions"
                [legend]="true"
                [chartType]="'line'">
        </canvas>
    </div>
    
    <!-- Messaggio se non ci sono dati -->
    <div *ngIf="!cryptoChartData || cryptoChartData.labels.length === 0" class="no-data">
        Nessun dato disponibile per questa criptovaluta.
    </div>
    