body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0; /* Colore di sfondo per contrastare meglio */
}

.table-container {
  max-width: 1200px;
  margin: 40px auto; /* Centra la tabella e aggiunge spazio verticale */
  background: white; /* Sfondo bianco per risaltare la tabella */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombra per far risaltare il contenitore */
}

.crypto-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.chart-icon {
  width: 100px;
  height: auto;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
