<div *ngIf="crypto">
  <h1 style="display: flex; align-items: center;">
    {{ crypto.name }}
    <img (click)="changeFavourite()" [src]="star" alt="Stella" 
         style="width: 24px; height: 24px; margin-left: 10px; cursor: pointer;">
  </h1>
  {{ crypto?.quote?.value2?.price ? (crypto.quote.value2.price | number:'1.2-2') + ' USD' : '-' }}


  <!-- Integrazione del componente info -->
  <app-crypto-info [crypto]="crypto"></app-crypto-info>

  <!-- Integrazione del componente chart -->
  <app-crypto-chart *ngIf="crypto && slug" [cryptoId]="id" [cryptoSlug]="slug"></app-crypto-chart>
</div>
